/* Footer */
footer {
    width: 100%;
    background-color: var(--site-secondary-background-color);
    padding-top: 4px;
    min-height: 42px;
    flex-shrink: 0;
    margin-top: 20px;
    border-top: solid 1px var(--site-border-color)
}
.copyright-box {
    color: var(--site-secondary-text-color);
    font-weight: 600;
}

/* Larger than tablet */
@media (min-width: 750px) {
    /* Footer */
    footer {
        width: 100%;
        margin-top: 2%;
        background-color: var(--site-secondary-background-color);
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .copyright-box {
        padding-top: 6px;
    }
}

@media (min-width: 1000px) {
    .copyright-box {
        padding-top: 8px;
    }
}