/* Header */
header {
    background-color: var(--site-secondary-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: solid 1px var(--site-border-color)
}
.site-name-icon-box {
    width: fit-content;
}
.site-name-box{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    color: var(--accent-color);
    margin-left: 1%;
    font-weight: 600;
    width: fit-content;
    padding-top: 2px;
    display: none;
    padding-left: 8px;
}
.site-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--site-background-color);
}

/* Navigation */
.header-nav {
    width: fit-content;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 4px;
    height: 28px;
}

@media (scripting:enabled) {
    .header-nav.border {
        border-right: 2px solid var(--site-border-color);
    }
}
.nav-link {
    padding: 4px;
    border-radius: 16px;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}

/* Theme Toggle */
theme-toggle::part(button) {
    border: 0px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0%;
}
theme-toggle::part(icon) {
    filter: var(--site-secondary-text-filter);
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .site-name-icon-box {
        width: 40%;
    }
    .site-name-box{
        display: block;
        font-size: large;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .site-icon {
        width: 32px;
        height: 32px;
    }

    /* Navigation */
    .header-nav {
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 8px;
    }

    /* Theme Toggle */
    theme-toggle::part(button) {
        width: 32px;
        height: 32px;
    }
    theme-toggle::part(icon) {
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }
}

@media (min-width: 1000px) {
    header {
        height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .site-icon {
        width: 40px;
        height: 40px;
    }
    .site-name-box{
        font-size: x-large;
        height: 40px;
        padding-top: 0px;
    }

    /* Navigation */
    .header-nav {
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 8px;
    }
    .btn.nav-link {
        font-size: large;
        padding: 8px;
        border-radius: 24px;
        margin-left: 2px;
        margin-right: 2px;
    }

    theme-toggle::part(button) {
        width: 40px;
        height: 40px;
    }
    theme-toggle::part(icon) {
        width: 24px;
        height: 24px;
        margin-top: 3px;
    }
}