/* Header */
header {
    background-color: var(--site-secondary-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.site-name-icon-box {
    width: fit-content;
}
.site-name-box{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    color: var(--accent-color);
    margin-left: 1%;
    font-weight: 600;
    width: fit-content;
    padding-top: 2px;
    display: none;
    padding-left: 8px;
}
.site-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--site-background-color);
}

/* Navigation */
.header-nav {
    width: fit-content;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 4px;
    height: 28px;
}
@media (scripting:enabled) {
    .header-nav {
        border-right: 2px solid var(--site-border-color);
    }
}
.nav-link {
    padding: 4px;
    border-radius: 16px;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}

/* Theme Toggle */
theme-toggle::part(button) {
    border: 0px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0%;
}
theme-toggle::part(icon) {
    filter: var(--site-secondary-text-filter);
    width: 20px;
    height: 20px;
    margin-top: 2px;
}