/* Social Links */
.btn.social-link {
    margin: 2px;
    border-radius: 50%;
    --icon-filter: var(--site-secondary-text-filter);
    width: 28px;
    height: 28px;
}
.social-link.github:hover {
    --icon-filter: invert(38%) sepia(11%) saturate(1981%) hue-rotate(222deg) brightness(94%) contrast(95%);
}
.social-link.rss:hover {
    --icon-filter: invert(75%) sepia(42%) saturate(5562%) hue-rotate(2deg) brightness(106%) contrast(102%);
}
.social-icon {
    filter: var(--icon-filter);
    width: 24px;
    height: 24px;
    margin: 2px;
}
.social-icon.rss {
    width: 16px;
    height: 16px;
    margin: 6px;
}

.social-icon-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.social-icon-box.border {
    border-bottom: 2px solid var(--site-border-color);
}
.social-icon-box.centered {
    width: 100%;
}

/* Larger than tablet */
@media (min-width: 750px) {
    .social-icon-box {
        margin-right: 8px;
        padding-right: 8px;
        float: left;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .social-icon-box.border {
        border-bottom: 0px solid var(--site-border-color);
        border-right: 2px solid var(--site-border-color);
    }

    /* Social Links */
    .btn.social-link {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 2px;
    }
    .social-icon {
        width: 28px;
        height: 28px;
        margin: 4px;
    }
    .social-icon.rss {
        width: 20px;
        height: 20px;
        margin: 8px;
    }
    .social-icon-box {
        margin-right: 8px;
        padding-right: 8px;
    }
}