@use 'color';
@use 'ui';
@use 'header';
@use 'tags';
@use 'projects';
@use 'footer';
@use 'socials';

/* Page Setup and Variables */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main Body*/
.content {
    margin-top: 2%;
    flex-grow: 1;
}
hr {
    border: 0;
    border-top: 2px solid var(--site-border-color);
}
hr.small-margins {
    margin-top: 8px;
    margin-bottom: 8px;
}
.card {
    margin: 16px;
    width: fit-content;
    padding: 8px;
    background-color: var(--site-secondary-background-color);
    border-top: solid 2px var(--accent-color);
}

/* Utils */
.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.center-align {
    text-align: center;
}

.shrink {
    width: fit-content;
}

div.right-border {
    border-right: 2px solid var(--site-border-color);
}

.secondary-text-color {
    color: var(--site-secondary-text-color);
}

.inline-icon {
    width: 1em;
    height: 1em;
    filter: var(--site-secondary-text-filter);
    margin-top: auto;
    margin-bottom: auto;
}

/* Media Queries */

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .site-name-icon-box {
        width: 40%;
    }
    .site-name-box{
        display: block;
        font-size: large;
    }

    .card.project {
        width: 40%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .site-icon {
        width: 32px;
        height: 32px;
    }

    /* Theme Toggle */
    theme-toggle::part(button) {
        width: 32px;
        height: 32px;
    }
    theme-toggle::part(icon) {
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }

    /* Navigation */
    .header-nav {
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 8px;
    }

    /* Blog */
    .post-title-box {
        width: 60%;
    }
    .post-preview-info-box {
        width: 40%;
    }
    .post-read-time::before {
        content: "| ";
        white-space: pre;
    }

    /* Footer */
    footer {
        width: 100%;
        margin-top: 2%;
        background-color: var(--site-secondary-background-color);
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .copyright-box {
        padding-top: 6px;
    }

    /* Social Links */
    .social-icon-box {
        margin-right: 8px;
        padding-right: 8px;
        float: left;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .social-icon-box.border {
        border-bottom: 0px solid var(--site-border-color);
        border-right: 2px solid var(--site-border-color);
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    header {
        height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .site-icon {
        width: 40px;
        height: 40px;
    }
    .site-name-box{
        font-size: x-large;
        height: 40px;
        padding-top: 0px;
    }

    theme-toggle::part(button) {
        width: 40px;
        height: 40px;
    }
    theme-toggle::part(icon) {
        width: 24px;
        height: 24px;
        margin-top: 3px;
    }

    /* Projects */
    .card.project {
        width: 25%;
    }

    /* Navigation */
    .header-nav {
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 8px;
    }
    .btn.nav-link {
        font-size: large;
        padding: 8px;
        border-radius: 24px;
        margin-left: 2px;
        margin-right: 2px;
    }

    /* Social Links */
    .btn.social-link {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 2px;
    }
    .social-icon {
        width: 28px;
        height: 28px;
        margin: 4px;
    }
    .social-icon.rss {
        width: 20px;
        height: 20px;
        margin: 8px;
    }
    .social-icon-box {
        margin-right: 8px;
        padding-right: 8px;
    }

    .copyright-box {
        padding-top: 8px;
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {

}