@use 'color';
@use 'ui';
@use 'header';
@use 'tags';
@use 'footer';
@use 'socials';
@use 'code';
@use 'skeleton/grid';
@use 'skeleton/base';
@use 'skeleton/typography';
@use 'skeleton/lists';
@use 'skeleton/tables';
@use 'skeleton/spacing';
@use 'skeleton/utilities';
@use 'skeleton/misc';
@use 'skeleton/clearing';

/* Page Setup and Variables */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main Body*/
.content {
    margin-top: 2%;
    flex-grow: 1;
}
hr {
    border: 0;
    border-top: 2px solid var(--site-border-color);
}
hr.small-margins {
    margin-top: 8px;
    margin-bottom: 8px;
}
.card {
    margin: 16px;
    width: fit-content;
    padding: 8px;
    background-color: var(--site-secondary-background-color);
    border-top: solid 2px var(--accent-color);
}

/* Utils */
.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}
.justified-align {
    text-align: justify;
}

.shrink {
    width: fit-content;
}

div.right-border {
    border-right: 2px solid var(--site-border-color);
}

.secondary-text-color {
    color: var(--site-secondary-text-color);
}

.inline-icon {
    width: 1em;
    height: 1em;
    filter: var(--site-secondary-text-filter);
    margin-top: auto;
    margin-bottom: auto;
}

/* Media Queries */

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
    /* Blog */
    .post-title-box {
        width: 60%;
    }
    .post-preview-info-box {
        width: 40%;
    }
    .post-read-time::before {
        content: "| ";
        white-space: pre;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
 
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}