<footer class="row">
  <div class="centered">
    <div class="social-icon-box border">
      {%- set socials = config.extra.nav.socials -%}
      {%- for link in socials -%}
      {%- set lowercase_name = link.name | lower -%}
          <a href="{{ link.url }}" class="btn social-link {{ lowercase_name }}" title="{{ link.title }}">
            {% set icon_path = "media/social/" ~ lowercase_name ~ ".svg" %}
            <img src="{{ get_url(path=icon_path) }}" class="social-icon" alt="{{ link.name }}" />
          </a>
      {%- endfor -%}
      <a href="{{ get_url(path='atom.xml') }}" class="btn social-link rss" title="Atom Feed">
        <img src="{{ get_url(path='media/social/rss.svg') }}"  class="social-icon rss" alt="Atom Feed"  />
      </a>
    </div>
    <div class="copyright-box u-pull-right">
      Copyright &copy; RedstoneParadox 2024
    </div>
  </div>
</footer>