{% extends "base.html" %}
{% import "macros/post_preview.html" as post %}
{% import "macros/page_preview.html" as page %}

{% block content %}
<div class="container">
    {{ section.content | safe }}
    <hr class="small-margins" />
    {% block preview %}
    {%- for page in paginator.pages -%}
    {{ page::page_preview(page=page) }}
    {%- endfor -%}
    {% endblock preview %}
</div>
<br />
<br />
{% if paginator.previous %}
<a href="{{ paginator.previous }}" class="btn tag nav-link u-pull-left">← Previous</a>
{% endif %}
{% if paginator.next %}
<a href="{{ paginator.next }}" class="btn tag nav-link u-pull-right">Next →</a>
{% endif %}
{% endblock content %}