{% extends "page.html" %}

{% block info %}
<div class="row">
  <div class="u-pull-left">
    <span class="secondary-text-color">{{ page.description }}</span><br /><br />
  </div>
  <div class="u-pull-right">
    <img src="{{ get_url(path='media/CharmPencil.svg') }}" class="inline-icon" alt="Published" /> {{ page.date | date(format="%B %e, %Y") }} <br />
    <img src="{{ get_url(path='media/CharmClock.svg') }}" class="inline-icon" alt="Read Time" /> {{ page.reading_time }} min
  </div>
</div>
{% endblock info %}

{% block bottom %}
{%- for name, taxon in page.taxonomies -%}
  {%- for item in taxon -%}
  {%- set tag_url = get_taxonomy_url(kind="tags", name=item) -%}
  <a href="{{ tag_url }}" class="btn tag">#{{ item }}</a>
  {%- endfor -%}
{%- endfor -%}
<br />
<br />
{% if page.higher %}
<a href="{{ get_url(path=page.higher.path) }}" class="btn tag nav-link u-pull-left">← {{ page.higher.title }}</a>
{% endif %}
{% if page.lower %}
<a href="{{ get_url(path=page.lower.path) }}" class="btn tag nav-link u-pull-right">{{ page.lower.title }} →</a>
{% endif %}
{% endblock bottom %}