{% extends "base.html" %}

{% macro card(project) %}
<div class="card project">
    <img src="{{ get_url(path='/projects/' ~ project.icon) }}" class="project-icon" alt="" /><br/>
    <span style="font-weight:700;">{{ project.name }}</span><br/>
    <hr class="project-hr">
    {{ project.desc }}
    <hr class="project-hr">
    
    <div class="social-icon-box centered">
        {% if project.github %}
        {%- set gh_url = project.github -%}
        <a href="{{ project.github }}" class="btn social-link github" title = "GitHub Repo">
            <img src="{{ get_url(path='media/social/github.svg') | safe }}" class="social-icon" alt="GitHub">
        </a>
        {% endif %}
        {% if project.modrinth %}
        <a href="{{ project.modrinth }}" class="btn social-link modrinth" title="Go to Modrinth project page">
            <img src="{{ get_url(path='media/social/modrinth.svg') | safe }}" class="social-icon" alt="modrinth">
        </a>
        {% endif %}
    </div>

</div>
{% endmacro card %}

{% block content %}
{% set data = load_data(path="content/projects/data.json") %}
<h4 class="center-align">Minecraft Mods</h4>
<hr class="small-margins">
<div class="projects-box">
{% for project in data.minecraft %}
    {{ self::card(project=project) }}
{% endfor %}
</div>
<h4 class="center-align">Web Development</h4>
<hr class="small-margins">
<div class="projects-box">
{% for project in data.web %}
    {{ self::card(project=project) }}
{% endfor %}
</div>
{% endblock content %}